@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ProyectoDesarrollo.Models.Modelos
@{
}
<html>
<head>
    <link href="~/css/EstilosPaginaPrincipal.css" rel="stylesheet" />
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://kit.fontawesome.com/fc0e7e3519.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/font-awesome.min.css">
    <script src="~/js/JavaScript.js"></script>
</head>
    <body>

        <nav>
            <ul>
                <li>
                    <a asp-action="Inicio" id="logoLink" class="logo">
                        <i class="fas fa-code"></i>
                        <span class="nav-item">Clínica SaludTotal</span>
                    </a>
                </li>

                <li>
                    <a href="#Inicios">
                        <i class="fas fa-home"></i>
                        <span class="nav-item">Inicio</span>
                    </a>
                </li>

                <li>
                    <a href="#Perfil">
                        <i class="fas fa-user"></i>
                        <span class="nav-item">Perfil (Secretaria)</span>
                    </a>
                </li>

                <li>
                    <a href="#Doctores">
                        <i class="fa fa-user-md"></i>
                        <span class="nav-item">Doctores (@ViewBag.contadorDoctor)</span>
                    </a>
                </li>

                <li>
                    <a href="#Consultorios">
                        <i class="fa fa-medkit"></i>
                        <span class="nav-item">Consultorios (@ViewBag.contadorEspecilidades)</span>
                    </a>
                </li>

                <li>
                    <a href="#Pacientes">
                        <i class="fa fa-users"></i>
                        <span class="nav-item">Pacientes (@ViewBag.contadorPaciente)</span>
                    </a>
                </li>

                <li>
                    <a href="#Reservaciones">
                        <i class="far fa-calendar-check"></i>
                        <span class="nav-item">Reservaciones (@ViewBag.contadorCitas)</span>
                    </a>
                </li>

                <li>
                    <a asp-action="Inicio" class="logout" id="logoutLink">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="nav-item">Salir</span>
                    </a>
                </li>
            </ul>
        </nav>
        <main>
            <section id="Inicios" class="pagina">
                <form class="inicio">
                <h1>BIENVENIDO</h1>
                <h2>Bienvenido a la Clinica SaludTotal</H2>
                <hr />

                <h3>Horario:</h3>
                <label>Desde: 7:00:00</label><br />
                <label>Hasta: 18:00:00</label><br />
                <hr />

                <h3>Direccion:</h3>
                <label>Av. Santa Rosa #1234</label><br />
                <hr />

                <h3>Contactos:</h3>
                <label>Telfono: 951-120-000</label><br />
                <label>Correo: ClinicaSaludTotal@gmail.com</label><br />
                </form>
                <img src="~/css/hospital_health_clinic_urban_buildings_medical_icon_128575.png" />
            </section>

            <section id="Perfil" class="pagina">
                <h1 class="Listar">Perfil:</h1>
                <form class="Listar form-container">
                    <table class="table table-bordered">
                        <tr class="encabezado">
                            <td>CODIGO</td>
                            <td>NOMBRE</td>
                            <td>APELLIDO</td>
                            <td>DNI</td>
                            <td>TELEFONO</td>
                            <td>USUARIO</td>
                            <td>CONTRASEÑA</td>
                            <td></td>
                        </tr>
                        <tbody>
                            <tr>
                                <td>@ViewBag.perfil.IdSecretaria</td>
                                <td>@ViewBag.perfil.NomSecretaria</td>
                                <td>@ViewBag.perfil.ApeSecretaria</td>
                                <td>@ViewBag.perfil.DniSecretaria</td>
                                <td>@ViewBag.perfil.TelSecretaria</td>
                                <td>@ViewBag.perfil.UsuSecretaria</td>
                                <td>@ViewBag.perfil.ContraSecretaria</td>
                                 <td><a asp-action="EditarSecretariaP" asp-route-id="@ViewBag.perfil.IdSecretaria" class="EditarS"><i class='fas fa-edit'></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </section>

            <section id="Doctores" class="pagina">
                <h1 class="Listar">Gestion de doctores:</h1>
                <form class="Listar form-container">
                <button  onclick="abrirGrabarSD()" class="crear">Registrar doctor</button>
                <table class="table table-bordered">
                    <tr class="encabezado">
                        <td>CODIGO</td>
                        <td>NOMBRE</td>
                        <td>APELLIDO</td>
                        <td>DNI</td>
                        <td>TELEFONO</td>
                        <td>ESPECIALIDAD</td>
                        <td>USUARIO</td>
                        <td>CONTRASEÑA</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tbody>
                        @foreach (var item in ViewBag.doctor)
                    {
                        var doctorObj = (ProyectoDesarrollo.Models.Doctor)item;
                     <tr>
                        <td>@doctorObj.IdDoctor</td>
                        <td>@doctorObj.NomDoctor</td>
                        <td>@doctorObj.ApeDoctor</td>
                        <td>@doctorObj.DniDoctor</td>
                        <td>@doctorObj.TelDoctor</td>
                        <td>@doctorObj.IdEspecialidadNavigation?.NomEspecialidad</td>
                        <td>@doctorObj.UsuDoctor</td>
                        <td>@doctorObj.ContraDoctor</td>
                        <td><a onclick="abrirModalSD('@doctorObj.IdDoctor')" class="EliminarD"><i class="fa fa-trash-o"></i></a></td>
                        <td><a asp-action="EditardoctorS" asp-route-id="@doctorObj.IdDoctor" class="EditarD"><i class='fas fa-edit'></i></a></td>
                     </tr>

                    }
                </tbody>
                </table>
                </form>
            </section>

            <section id="Consultorios" class="pagina">
                <form>
                <button onclick="abrirGrabarSE()" class="crearEspecialidad">Registrar nueva especialidad</button>
                @{
                    Dictionary<string, List<string>> EspecialidadesNombres = new Dictionary<string, List<string>>();

                    foreach (var especialidad in ViewBag.doctor)
                    {
                        var especialidad1 = (ProyectoDesarrollo.Models.Doctor)especialidad;
                        var EspecialidadActual = especialidad1.IdEspecialidadNavigation?.NomEspecialidad;

                        if (!EspecialidadesNombres.ContainsKey(EspecialidadActual))
                        {
                            EspecialidadesNombres[EspecialidadActual] = new List<string>();
                        }

                        EspecialidadesNombres[EspecialidadActual].Add(especialidad1.NomDoctor);
                    }
                }

                <table class="TblEspecialidad">
                    <tr>
                        <th class="tbl-header tbl-header-right">ESPECIALIDADES</th>
                        <th class="tbl-header tbl-header-left">DOCTORES</th>
                    </tr>
                    @foreach (var especilidadNombres in EspecialidadesNombres)
                    {
                        <tr>
                            <td class="tbl-key">@especilidadNombres.Key</td>
                            <td>
                                <ul class="tbl-list">
                                    @foreach (var nombre in especilidadNombres.Value)
                                    {
                                        <li>- @nombre</li>
                                    }
                                </ul>
                            </td>
                        </tr>
                    }
                </table>
                </form>

            </section>

            <section id="Pacientes" class="pagina">
                <h1 class="Listar">Gestion de pacientes:</h1>
                <form class="Listar form-container">
                <button  onclick="abrirGrabarSP()" class="crear">Registrar pacientes</button>
                    <table class="table table-bordered">
                    <tr class="encabezado">
                        <td>CODIGO</td>
                        <td>NOMBRE</td>
                        <td>APELLIDO</td>
                        <td>DNI</td>
                        <td>FECHA DE NACIMIENTO</td>
                        <td>GENERO</td>
                        <td>TELEFONO</td>
                        <td>USUARIO</td>
                        <td>CONTRASEÑA</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tbody>
                        @foreach (var item in ViewBag.pacientes)
                    {
                        var pacienteObj = (ProyectoDesarrollo.Models.Paciente)item;
                     <tr>
                        <td>@pacienteObj.IdPaciente</td>
                        <td>@pacienteObj.NomPaciente</td>
                        <td>@pacienteObj.ApePaciente</td>
                        <td>@pacienteObj.DniPaciente</td>
                        <td>@pacienteObj.NacPaciente.ToShortDateString()</td>
                        <td>@pacienteObj.IdGeneroNavigation?.NomGenero</td>                        
                        <td>@pacienteObj.TelPaciente</td>
                        <td>@pacienteObj.UsuPaciente</td>
                        <td>@pacienteObj.ContraPaciente</td>
                        <td><a onclick="abrirModalSP('@pacienteObj.IdPaciente')" class="EliminarP"><i class="fa fa-trash-o"></i></a></td>
                        <td><a asp-action="EditarpacienteS" asp-route-id="@pacienteObj.IdPaciente" class="EditarP"><i class='fas fa-edit'></i></a></td>
                     </tr>

                    }
                </tbody>
                </table>
                </form>
            </section>

            <section id="Reservaciones" class="pagina">
                <h1 class="Listar">Gestion de citas:</h1>
                <form class="Listar form-container">
                <button onclick="abrirGrabarSC()" class="crear">Reservar citas</button>
                    <table class="table table-bordered">
                    <tr class="encabezado">
                        <td>CODIGO</td>
                        <td>FECHA</td>
                        <td>PACIENTE</td>
                        <td></td>
                        <td>ESTADO</td>
                        <td>DOCTOR</td>
                        <td>HORA</td>
                        <td>ESPECIALIDAD</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tbody>
                        @foreach (var item in ViewBag.citas)
                    {
                        var citaObj = (ProyectoDesarrollo.Models.Cita)item;
                     <tr>
                        <td>@citaObj.IdCitas</td>
                        <td>@citaObj.FechaCitas.ToShortDateString()</td>
                        <td>@citaObj.IdPacienteNavigation?.NomPaciente</td>
                        <td>@citaObj.IdPacienteNavigation?.ApePaciente</td>
                        <td>@citaObj.IdEstadosNavigation?.NomEstados</td>
                        <td>@citaObj.IdDoctorNavigation?.NomDoctor</td>
                        <td>@citaObj.IdHorarioNavigation?.Hora</td>                        
                        <td>@citaObj.IdEspecialidadNavigation?.NomEspecialidad</td>
                        <td><a onclick="abrirModalSC('@citaObj.IdCitas')" class="EliminarS"><i class="fa fa-trash-o"></i></a></td>
                        <td><a asp-action="EditarCitaS" asp-route-id="@citaObj.IdCitas" class="EditarS"><i class='fas fa-edit'></i></a></td>
                     </tr>

                    }
                </tbody>
                </table>
                </form>
            </section>

            <!-- /*Eliminar paciente*/ -->
            <div id="miModalSP" class="modal">
            <div class="modal-contenido">
                <span class="cerrar" onclick="cerrarModalSP()">&times;</span>
                <h2>Confirmar eliminación</h2>
                <p>¿Estás seguro de que deseas eliminar este paciente?</p>
                <button class="btnEliminar" onclick="eliminarPacienteSP()">Aceptar</button>
                <button class="btnEliminarM" onclick="cerrarModalSP()">Cancelar</button>
            </div>
            </div>

            <!-- /*Eliminar doctor*/ -->
            <div id="miModalSD" class="modal">
            <div class="modal-contenido">
                <span class="cerrar" onclick="cerrarModalSD()">&times;</span>
                <h2>Confirmar eliminación</h2>
                <p>¿Estás seguro de que deseas eliminar este doctor?</p>
                <button class="btnEliminar" onclick="eliminarPacienteSD()">Aceptar</button>
                <button class="btnEliminarM" onclick="cerrarModalSD()">Cancelar</button>
            </div>
            </div>

            <!-- /*Eliminar cita*/ -->
            <div id="miModalSC" class="modal">
            <div class="modal-contenido">
                <span class="cerrar" onclick="cerrarModalSC()">&times;</span>
                <h2>Confirmar eliminación</h2>
                <p>¿Estás seguro de que deseas eliminar esta cita?</p>
                <button class="btnEliminar" onclick="eliminarCitaSC()">Aceptar</button>
                <button class="btnEliminarM" onclick="cerrarModalSC()">Cancelar</button>
            </div>
            </div>

            <!-- /*Grabar doctor*/ -->
            <div id="GrabarSD" class="modal">
            <div class="modal-contenidoD">
                <span class="cerrar" onclick="cerrarGrabarSD()">&times;</span>
                 <form class="row g-3" asp-controller="Proyecto" asp-action="GrabardoctorS">
                    <div class="col-md-6">
                        <input type="hidden" asp-for="Doctor.IdDoctor" placeholder="Ingrese el codigo" />
                        <label class="form-label nomDL">NOMBRE</label>
                        <input class="form-control nomD" type="text" asp-for="Doctor.NomDoctor" placeholder="Ingrese el nombre" />
                        <label class="form-label apeDL">APELLIDO</label>
                        <input class="form-control apeD" type="text" asp-for="Doctor.ApeDoctor" placeholder="Ingrese el apellido" />
                        <label class="form-label dniDL">DNI</label>
                        <input class="form-control dniD" type="number" asp-for="Doctor.DniDoctor" placeholder="Ingrese el dni" />
                        <label class="form-label genDL">ESPECIALIDAD</label>
                        <select class="form-select genD" asp-for="Doctor.IdEspecialidad">
                            <option value=""selected disabled>Seleccione su especialidad</option>
                            @foreach (var doctor in ViewBag.especialidad)
                            {
                                var doctor1 = (ProyectoDesarrollo.Models.Especialidad)doctor;
                                <option value="@doctor1.IdEspecialidad">@doctor1.NomEspecialidad</option>
                            }
                        </select>
                        </div>
                    <div class="col-md-6">
                        <label class="form-label telDL">TELEFONO</label>
                        <input class="form-control telD" type="number" asp-for="Doctor.TelDoctor" placeholder="Ingrese el telefono" />
                        <label class="form-label usuDL">USUARIO</label>
                        <input class="form-control usuD" type="text" asp-for="Doctor.UsuDoctor" placeholder="Ingrese el usuario" />
                        <label class="form-label contraDL">CONTRASEÑA</label>
                        <input class="form-control contraD" type="password" asp-for="Doctor.ContraDoctor" placeholder="Ingrese la contraseña" />
                        <button class="btnEliminarAD">Grabar</button>
                    </div>
                </form>
                <button class="btnEliminarCD" onclick="cerrarGrabarSD()">Cancelar</button>
            </div>
            </div>

            <!-- /*Grabar paciente*/ -->
            <div id="GrabarSP" class="modal">
            <div class="modal-contenidoP">
                <span class="cerrar" onclick="cerrarGrabarSP()">&times;</span>
                 <form class="row g-3" asp-controller="Proyecto" asp-action="GrabarpacienteS">
                    <div class="col-md-6">
                        <input type="hidden" asp-for="Paciente.IdPaciente" placeholder="Ingrese el codigo" />
                        <label class="form-label nomPL">NOMBRE</label>
                        <input class="form-control nomP" type="text" asp-for="Paciente.NomPaciente" placeholder="Ingrese el nombre" />
                        <label class="form-label apePL">APELLIDO</label>
                        <input class="form-control apeP" type="text" asp-for="Paciente.ApePaciente" placeholder="Ingrese el apellido" />
                        <label class="form-label dniPL">DNI</label>
                        <input class="form-control dniP" type="text" asp-for="Paciente.DniPaciente" placeholder="Ingrese el dni" />
                        <label class="form-label fecPL">FECHA DE NACIMIENTO</label>
                        <input class="form-control fecP" type="date" asp-for="Paciente.NacPaciente" placeholder="fecha de nacimiento" />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label genPL">GENERO</label>
                        <select class="form-select genP" asp-for="Paciente.IdGenero">
                        <option value=""selected disabled>Seleccione su genero</option>
                            @foreach (var paciente in ViewBag.genero)
                            {
                                var paciente1 = (ProyectoDesarrollo.Models.Genero)paciente;
                                <option value="@paciente1.IdGenero">@paciente1.NomGenero</option>
                            }
                        </select>
                        <label class="form-label telPL">TELEFONO</label>
                        <input class="form-control telP" type="text" asp-for="Paciente.TelPaciente" placeholder="Ingrese el telefono" />
                        <label class="form-label usuPL">USUARIO</label>
                        <input class="form-control usuP" type="text" asp-for="Paciente.UsuPaciente" placeholder="Ingrese el usuario" />
                        <label class="form-label contraPL">CONTRASEÑA</label>
                        <input class="form-control contraP" type="password" asp-for="Paciente.ContraPaciente" placeholder="Ingrese la contraseña" />
                        <button class="btnEliminarAP">Aceptar</button>
                    </div>
                </form>
                <button class="btnEliminarCP" onclick="cerrarGrabarSP()">Cancelar</button>
            </div>
            </div>

            <!-- /*Grabar cita*/ -->
            <div id="GrabarSC" class="modal">
            <div class="modal-contenido">
                <span class="cerrar" onclick="cerrarGrabarSC()">&times;</span>
                 <form class="row g-3" asp-controller="Proyecto" asp-action="GrabarCita">
                    <div class="col-md-6">
                        <input type="hidden" asp-for="Cita.IdCitas" placeholder="Ingrese el codigo" />
                         <label class="form-label genDL">PACIENTE</label>
                        <select class="form-select genD" asp-for="Cita.IdPaciente">
                            <option value=""selected disabled>Seleccione un paciente</option>
                            @foreach (var paciente in ViewBag.pacientes)
                            {
                                var paciente1 = (ProyectoDesarrollo.Models.Paciente)paciente;
                                <option value="@paciente1.IdPaciente">@paciente1.NomPaciente</option>
                            }
                        </select>
                        <label class="form-label genDL">ESTADO DE PACIENTE</label>
                        <select class="form-select genD" asp-for="Cita.IdEstados">
                            <option value=""selected disabled>Seleccione estado del paciente</option>
                            @foreach (var estado in ViewBag.estados)
                            {
                                var estado1 = (ProyectoDesarrollo.Models.Estado)estado;
                                <option value="@estado1.IdEstados">@estado1.NomEstados</option>
                            }
                        </select>
                        <label class="form-label genDL">ESPECIALIDAD</label>
                        <select class="form-select genD" asp-for="Cita.IdEspecialidad">
                            <option value=""selected disabled>Seleccione especialidad</option>
                            @foreach (var especialidad in ViewBag.especDoc)
                            {
                                var especialidad1 = (ProyectoDesarrollo.Models.Especialidad)especialidad;
                                <option value="@especialidad1.IdEspecialidad">@especialidad1.NomEspecialidad</option>
                            }
                        </select>
                        </div>
                    <div class="col-md-6">
                        <label class="form-label genDL">DOCTOR</label>
                        <select class="form-select genD" asp-for="Cita.IdDoctor">
                            <option value=""selected disabled>Seleccione un doctor</option>
                            @foreach (var doctor in ViewBag.doctor)
                            {
                                var doctor1 = (ProyectoDesarrollo.Models.Doctor)doctor;
                                <option value="@doctor1.IdDoctor">@doctor1.NomDoctor</option>
                            }
                        </select>
                        <label class="form-label fecPL">FECHA</label>
                        <input class="form-control fecP" type="date" asp-for="Cita.FechaCitas" placeholder="fecha de cita" />
                        <label class="form-label genPL">HORARIO</label>
                        <select class="form-select genP" asp-for="Cita.IdHorario">
                        <option value=""selected disabled>Seleccione un horario</option>
                            @foreach (var horario in ViewBag.horario)
                            {
                                var horario1 = (ProyectoDesarrollo.Models.Horario)horario;
                                <option value="@horario1.IdHorario">@horario1.Hora</option>
                            }
                        </select>
                        <button class="btnEliminarAP">Aceptar</button>
                    </div>
                </form>
                <button class="btnEliminarCP" onclick="cerrarGrabarSC()">Cancelar</button>
            </div>
            </div>

            <!-- /*Grabar especialidad*/ -->
            <div id="GrabarSE" class="modal">
            <div class="modal-contenido">
                <span class="cerrar" onclick="cerrarGrabarSE()">&times;</span>
                 <form class="row g-3" asp-controller="Proyecto" asp-action="GrabarespecialidadS">
                        <label class="form-label genDL">NUEVA ESPECIALIDAD</label>
                        <input class="form-control genD" type="text" name="nombreEspecialidad" placeholder="Ingrese nueva especialidad" />
                        <button class="btnEliminarAE">Grabar</button>
                </form>
                <button class="btnEliminarEE" onclick="cerrarGrabarSE()">Cancelar</button>
            </div>
            </div>

        </main>
    </body>
    <script src="~/js/JavaScript.js"></script>
    <script src="~/js/PaginasPrincipales.js"></script>
</html>